.vertical-center {
	min-height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

.darker {
    
    background-color: #E5E4E2;
}

h1 {
	margin: 24px 0;
}

.messages p {
	margin: 6px 0;
}